#hasan1{
     text-align: center;
     font-size: larger;
     /* background-color: blue; */
}
#hasan2{
font-size: 25px
}
#inputFiedl{
    font-size: 25px;
}
#hasan3{
    font-size: 25px;
}
#list{
    
}