
.hasan{
    text-align: center;
    border: 2px solid black;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
}
.hasan0{
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: italic;
}
#email{
    margin-bottom: 10px;
    border: 1px solid black;
}
#password{
    margin-bottom: 10px;
    border: 1px solid black;
}
.hasan1{
    border: 1px solid black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 400;
    margin-left: 105px;
    cursor: pointer;
}
.hasan4{
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100px;
    font-style: italic;
}   